<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/846522f93e.js" crossorigin="anonymous"></script>

    <title>Mercado Liebre</title>
</head>
<body>
    
<div id="grilla">

<header class="">

    <div id="top">
    
        <img id="logo" src="images/logo-mercado-liebre.svg" >
        <div id="busqueda"><input id="barra" size="100"  placeholder="Buscar productos, marcas y más" type="search" name="busqueda"></div>
        <div>
            <h4 id="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>  Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
        
    </div>
    <i id="burger" class="fa-solid fa-bars"></i>
    <section class="grilla-superior2">
        
        <h5 id="productoss">Todos los productos<h6>
        <h5 id="ofertas">Ofertas</h6>
        <h5 id="tiendas">Tiendas oficiales</h6>
        <h5 id="vender">Vender</h6>
        <h5 id="ayuda">Ayuda </h6>
        <h5 id="crear-cuenta">Creá tu cuenta <i class="fa-solid fa-id-card"></i><h6>
        <h5 id="ingresa">Ingresá <i class="fa-solid fa-right-to-bracket"></i></h6>
        <h5 id="mis-compras">Mis compras <i class="fa-solid fa-basket-shopping"></i></h6> 

    </section>
    
</header>

<img id="banner" src="/images/img-home-banner.jpg" alt="">

<h2 id="texto-visita">Basado en últimas visitas</h2>

<main id="main" class="">
    <div  class="totalproducto">
    

    <img class="imgpro" id="productos1" src="/images/img-cafetera-moulinex.jpg" alt="">
    <br>
    <div class="cajapro">
        <i id="icon-pro" class="fa-solid fa-truck"></i>
        <h3 class="precios">$9.999</h3>
        <h4 class="descuento">20% Off</h4>
        <h4 class="descripcion">Cafetera Moulinex</h4>
    </div>    

</div>

<div  class="totalproducto">
    <img class="imgpro" id="productos2" src="\images\img-macbook-pro-2019.jpg" alt="">
    <br>
    <div class="cajapro">
        <i id="icon-pro" class="fa-solid fa-truck"></i>
        <h3 class="precios">$9.999</h3>
        <h4 class="descuento">20% Off</h4>
        <h4 class="descripcion">Mackbook Pro 2019</h4>
    </div> 
</div>

<div  class="totalproducto">
    <img class="imgpro" id="productos2" src="\images\img-samsung-galaxy-s10.jpg" alt="">
    <br>
    <div class="cajapro">
        <i id="icon-pro" class="fa-solid fa-truck"></i>
        <h3 class="precios">$9.999</h3>
        <h4 class="descuento">20% Off</h4>
        <h4 class="descripcion">Samsung Galaxy S10</h4>
    </div> 
</div>

<div  class="totalproducto">
    <img class="imgpro" id="productos2" src="\images\img-tv-samsung-smart.jpg" alt="">
    <br>
    <div class="cajapro">
        <i id="icon-pro" class="fa-solid fa-truck"></i>
        <h3 class="precios">$9.999</h3>
        <h4 class="descuento">20% Off</h4>
        <h4 class="descripcion">Tv Samsung Smart</h4>
    </div> 
</div>

</main>

<footer class="">
    <div class="texto-footer">
        <i id="iconos-footer" class="fa-regular fa-credit-card"></i>
        <p class="tit-footer">● Pagá con tarjeta o efectivo</p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>

    <div class="texto-footer">
        <i id="iconos-footer" class="fa-solid fa-gift"></i>
        <p class="tit-footer">● Envío gratis desde $ 2.500</p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>  
        
    
    <div class="texto-footer">
        <i id="iconos-footer" class="fa-solid fa-shield-halved"></i>
        <p class="tit-footer">● Seguridad, de principio a fin</p>
        <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
        <br>
        <br>
        <br>
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
        
        </p></div>
    </footer>

</div>
    
</body>
</html>